<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12" align="center">
        <br>
        <h1>Bienvenido: {{usuario.nombreUsuario}}</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-md-10" align="right">
        <button type="button" class="btn btn-info" (click)="mostrarPerfil()">Perfil</button>
      </div>

      <div class="col-md-2" align="center">
        <button type="button" class="btn btn-danger" (click)="logout()">Cerrar sersión</button>
      </div>

    </div>

    <div class="col-md-12">
      <hr color="blue">
    </div>

  </div>
</section>

<!--Bonotes de acciones-->
<section>
  <div class="containter">
    <div class="row">

      <div class="col-md-2" align="center">
      </div>

      <div class="col-md-3" align="center">
        <h4>Pedidos Activos</h4>
        <div>
          <hr color="blue">
          <button class="btn btn-outline-success" (click)="verPedidosActivos()">Pedidos activos</button>
          <div class="col-md-3">
            <hr>
          </div>
        </div>
      </div>

      <div class class="col-md-3" align="center">
        <h4>Pedidos Entregados</h4>
        <div>
          <hr color="blue">
          <button class="btn btn-outline-warning" (click)="verPedidosEntregado()">Pedidos entregados</button>
          <div class="col-md-3">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-md-3" align="center">
        <h4>Pedidos Cancelados</h4>
        <div>
          <hr color="blue">
          <button class="btn btn-outline-danger" (click)="verPedidosCancelados()">Pedidos cancelados</button>
          <div class="col-md-3">
            <hr>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="row" *ngIf="loading">
  <div class="col-md-12">
    <div class="spinner-border text-info float-right" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <br>
  <br>
</div>

<br>
<br>

<!--Seccion de perfil-->
<section>
  <div *ngIf="perfil" class="containter">
    <div class="row">

      <div class="col-md-2">
      </div>

      <div class="col-md-8" align="center">
        <div class="col-md-8" align="left">
          <h4>Mi perfil</h4>
          <hr color="red">

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{usuario.idUsuario}}
                </td>
                <td>
                  {{usuario.nombreUsuario}}
                </td>
                <td>
                  {{usuario.telefono}}
                </td>
                <td>
                  {{usuario.direccion}}
                </td>
              </tr>
            </tbody>
          </table>
          <hr color="red">
          <button class="btn btn-outline-success" (click)="modificarPerfil()">Modificar mi perfil</button>
        </div>
      </div>

    </div>
  </div>
</section>


<!--Modificar mi perfil-->
<section>
  <div *ngIf="modificarPer" class="containter">
    <div class="row">

      <div class="col-md-3">
      </div>

      <div class="col-md-6" align="center">
        <h3>Modificación de mis datos de perfil</h3>
        <hr>
        <br>

        <form (ngSubmit)="modificarMiPerfil()" id="crear">
          <div class="row">
            <div class="col-md-12">
              <input type="text" [(ngModel)]="usuario.nombreUsuario" [ngModelOptions]="{standalone: true}"
                placeholder="Nombre de usuario" class="form-control" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <input type="password" [(ngModel)]="usuario.password" [ngModelOptions]="{standalone: true}"
                placeholder="Password" class="form-control" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <input type="text" [(ngModel)]="usuario.telefono" [ngModelOptions]="{standalone: true}"
                placeholder="Telefono (10 caracteres max)" class="form-control" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <input type="text" [(ngModel)]="usuario.direccion" [ngModelOptions]="{standalone: true}"
                placeholder="Direccion" class="form-control" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <input class="btn btn-success float-right" type="submit" value="Guardar">
            </div>
          </div>
        </form>

      </div>

      <div class="col-md-3">
      </div>

    </div>
  </div>
</section>


<!--Ver Pedidos Activos / Despachados-->
<section>
  <div *ngIf="activosDespachados" class="containter">
    <div class="row">

      <div align="center" class="col-md-7">
        <h3 align="center">Pedidos activos y despachados</h3>
        <div align="center" class="col-md-11">
          <hr>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Id pedido</th>
                <th>Cliente</th>
                <th>Nit</th>
                <th>Fecha ingreso</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ped of pedidos">
                <td>
                  {{ped.idPedido}}
                </td>
                <td>
                  {{ped.nombreCliente}}
                </td>
                <td>
                  {{ped.nitCliente}}
                </td>
                <td>
                  {{ped.fechaIngreso}}
                </td>
                <td>
                  {{ped.totalPedido}}
                </td>
                <td>
                  {{ped.estadoPedido}}
                </td>
                <td>
                  <button class="btn btn-outline-success" (click)="verDetallesPedActDesp(ped)">Ver detalles</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <br>
      </div>


      <div *ngIf="activosDespachadosDetalles" class="col-md-5">
        <h4>Detalles</h4>
        <div class="col-md-8">
          <hr align="center">

          <div class="col-md-12">
            <table class="table table-sm">
              <thead>
                <th>
                  <tr>Id Pedido:
                    <td>
                      {{datosPedido.idPedido}}
                    </td>
                  </tr>
                  <tr>Cliente:
                    <td>
                      <input type="text" [(ngModel)]="datosPedido.nombreCliente" [ngModelOptions]="{standalone: true}"
                        placeholder="Nombre del cliente" class="form-control" required>
                    </td>
                  </tr>
                  <tr>Nit:
                    <td>
                      <input type="text" [(ngModel)]="datosPedido.nitCliente" [ngModelOptions]="{standalone: true}"
                        placeholder="NIT del cliente" class="form-control" required>
                    </td>
                  </tr>
                  <tr>Correo:
                    <td>
                      {{datosPedido.clienteCorreoCliente}}
                    </td>
                  </tr>
                  <tr>Fecha Ingreso:
                    <td>
                      {{datosPedido.fechaIngreso}}
                    </td>
                  </tr>
                  <tr>Telefono:
                    <td>
                      <input type="text" [(ngModel)]="datosPedido.telefono" [ngModelOptions]="{standalone: true}"
                        placeholder="Telefono" class="form-control" required>
                    </td>
                  </tr>
                  <tr>Dirección
                    <td>
                      <input type="text" [(ngModel)]="datosPedido.aDireccion" [ngModelOptions]="{standalone: true}"
                        placeholder="Dirección" class="form-control" required>
                    </td>
                  </tr>
                  <tr>Total Q
                    <td>
                      {{datosPedido.totalPedido}}
                    </td>
                  </tr>
                  <tr>Estado:
                    <td>
                      <input type="text" [(ngModel)]="datosPedido.estadoPedido" [ngModelOptions]="{standalone: true}"
                        placeholder="Estado" class="form-control" required>
                    </td>
                  </tr>
                  <tr>Fecha entrega / cancelado:
                    <td>
                      <input type="datetime-local" [(ngModel)]="datosPedido.fechaEntrega" [ngModelOptions]="{standalone: true}"
                        placeholder="Fecha entrega" class="form-control" required>
                    </td>
                  </tr>
                </th>
              </thead>
            </table>
          </div>

          <br>
          <button class="btn btn-outline-success" (click)="guardarCambiosPedido()">Guardar</button>
          <button class="btn btn-outline-danger" (click)="cancelarPedido()">Cancelar</button>
          <br>
          <hr>
          <br>

          <h5>Items</h5>
          <br>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Producto</th>
                <th>Catidad</th>
                <th>Sub total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of datosPedido.detallesList">
                <td>
                  {{d.nombreProducto}}
                </td>
                <td>
                  {{d.cantidad}}
                </td>
                <td>
                  Q. {{d.totalDetalle}}
                </td>
              </tr>
            </tbody>
          </table>

          <h4></h4>

        </div>
        <br>
      </div>

    </div>
  </div>
</section>

<!--Ver Pedidos Entregados-->
<section>
  <div *ngIf="pedidosEntregados" class="containter">
    <div class="row">

      <div align="center" class="col-md-7">
        <h3 align="center">Pedidos entregados a los clientes</h3>
        <div align="center" class="col-md-11">
          <hr>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Id pedido</th>
                <th>Cliente</th>
                <th>Nit</th>
                <th>Fecha ingreso</th>
                <th>Fecha entrega</th>
                <th>Total Q</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ped of pedidos">
                <td>
                  {{ped.idPedido}}
                </td>
                <td>
                  {{ped.nombreCliente}}
                </td>
                <td>
                  {{ped.nitCliente}}
                </td>
                <td>
                  {{ped.fechaIngreso}}
                </td>
                <td>
                  {{ped.fechaEntrega}}
                </td>
                <td>
                  {{ped.totalPedido}}
                </td>
                <td>
                  <button class="btn btn-outline-success" (click)="verDetallesPedEntregados(ped)">Ver detalles</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <br>
      </div>


      <div *ngIf="entregadosDetalles" class="col-md-5">
        <h4>Detalles</h4>
        <div class="col-md-8">
          <hr align="center">

          <div class="col-md-12">
            <table class="table table-sm">
              <thead>
                <th>
                  <tr>Id Pedido:
                    <td>
                      {{datosPedido.idPedido}}
                    </td>
                  </tr>
                  <tr>Cliente:
                    <td>
                      {{datosPedido.nombreCliente}}
                    </td>
                  </tr>
                  <tr>Nit:
                    <td>
                      {{datosPedido.nitCliente}}
                    </td>
                  </tr>
                  <tr>Correo:
                    <td>
                      {{datosPedido.clienteCorreoCliente}}
                    </td>
                  </tr>
                  <tr>Fecha Ingreso:
                    <td>
                      {{datosPedido.fechaIngreso}}
                    </td>
                  </tr>
                  <tr>Telefono:
                    <td>
                      {{datosPedido.telefono}}
                    </td>
                  </tr>
                  <tr>Dirección:
                    <td>
                      {{datosPedido.aDireccion}}
                    </td>
                  </tr>
                  <tr>Total Q
                    <td>
                      {{datosPedido.totalPedido}}
                    </td>
                  </tr>
                  <tr>Estado:
                    <td>
                      {{datosPedido.estadoPedido}}
                    </td>
                  </tr>
                  <tr>Fecha entrega:
                    <td>
                      {{datosPedido.fechaEntrega}}
                    </td>
                  </tr>
                </th>
              </thead>
            </table>
          </div>

          <br>

          <h5>Items</h5>
          <br>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Producto</th>
                <th>Catidad</th>
                <th>Sub total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of datosPedido.detallesList">
                <td>
                  {{d.nombreProducto}}
                </td>
                <td>
                  {{d.cantidad}}
                </td>
                <td>
                  Q. {{d.totalDetalle}}
                </td>
              </tr>
            </tbody>
          </table>

          <h4></h4>

        </div>
        <br>
      </div>

    </div>
  </div>
</section>

<!--Ver Pedidos Cancelados-->
<section>
  <div *ngIf="pedidosCancelados" class="containter">
    <div class="row">

      <div align="center" class="col-md-7">
        <h3 align="center">Pedidos entregados a los clientes</h3>
        <div align="center" class="col-md-11">
          <hr>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Id pedido</th>
                <th>Cliente</th>
                <th>Nit</th>
                <th>Fecha ingreso</th>
                <th>Fecha cancelación</th>
                <th>Total Q</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ped of pedidos">
                <td>
                  {{ped.idPedido}}
                </td>
                <td>
                  {{ped.nombreCliente}}
                </td>
                <td>
                  {{ped.nitCliente}}
                </td>
                <td>
                  {{ped.fechaIngreso}}
                </td>
                <td>
                  {{ped.fechaEntrega}}
                </td>
                <td>
                  {{ped.totalPedido}}
                </td>
                <td>
                  <button class="btn btn-outline-success" (click)="verDetallesPedCancelados(ped)">Ver detalles</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <br>
      </div>


      <div *ngIf="canceladosDetalles" class="col-md-5">
        <h4>Detalles</h4>
        <div class="col-md-8">
          <hr align="center">

          <div class="col-md-12">
            <table class="table table-sm">
              <thead>
                <th>
                  <tr>Id Pedido:
                    <td>
                      {{datosPedido.idPedido}}
                    </td>
                  </tr>
                  <tr>Cliente:
                    <td>
                      {{datosPedido.nombreCliente}}
                    </td>
                  </tr>
                  <tr>Nit:
                    <td>
                      {{datosPedido.nitCliente}}
                    </td>
                  </tr>
                  <tr>Correo:
                    <td>
                      {{datosPedido.clienteCorreoCliente}}
                    </td>
                  </tr>
                  <tr>Fecha Ingreso:
                    <td>
                      {{datosPedido.fechaIngreso}}
                    </td>
                  </tr>
                  <tr>Telefono:
                    <td>
                      {{datosPedido.telefono}}
                    </td>
                  </tr>
                  <tr>Dirección:
                    <td>
                      {{datosPedido.aDireccion}}
                    </td>
                  </tr>
                  <tr>Total Q
                    <td>
                      {{datosPedido.totalPedido}}
                    </td>
                  </tr>
                  <tr>Estado:
                    <td>
                      {{datosPedido.estadoPedido}}
                    </td>
                  </tr>
                  <tr>Fecha cancelado:
                    <td>
                      {{datosPedido.fechaEntrega}}
                    </td>
                  </tr>
                </th>
              </thead>
            </table>
          </div>

          <br>

          <h5>Items</h5>
          <br>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Producto</th>
                <th>Catidad</th>
                <th>Sub total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of datosPedido.detallesList">
                <td>
                  {{d.nombreProducto}}
                </td>
                <td>
                  {{d.cantidad}}
                </td>
                <td>
                  Q. {{d.totalDetalle}}
                </td>
              </tr>
            </tbody>
          </table>

          <h4></h4>

        </div>
        <br>
      </div>

    </div>
  </div>
</section>
