<div class="container">
  <div class="row">
    <div class="col-md-12" align="center">
      <br>
      <br>
      <h1>Proyecto Base de Datos II</h1>
    </div>
    <div class="col-md-12">
      <hr color="blue">
      <br>
    </div>
  </div>
  <!-- <div class="row" *ngIf="loading">
    <div class="col-md-12">
      <div class="spinner-border text-info float-right" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <br>
    <br>
  </div> -->
</div>

<section>
  <div class="containter">
    <div class="row">

      <div class="col-md-1" align="center">
      </div>

      <div class="col-md-5" align="rigth">
        <h5>Ingreso de sentencias</h5>
          <textarea  id="ingresoScript" name="sentencias"  cols="100" rows="8" ></textarea>
          <hr>
          <button type="button" class="btn btn-success mr-3" (click)="ejecutarScript()">Ejecutar script</button>
          
          <button type="button" class="btn btn-warning" (click)="limpiarScript()">Limpiar</button>
          <hr color="blue">
      </div>

      <div class="col-md-5" align="rigth">
        <h5>Resultado de sentencias</h5>
          <textarea  id="resultadosScript" name="sentencias"  cols="100" rows="15" ></textarea>
          <hr>
          <button type="button" class="btn btn-warning" (click)="limpiarResultado()">Limpiar</button>
          <hr color="blue">
      </div>
      
      <div class="col-md-1" align="center">
      </div>

    </div>
  </div>
</section>
